body {
    background-image: url("ronaldo_penalty.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 30;
    z-index: -1;
}
.input {
    display: block;
    font-style: italic;
    font-size: 200%;
    padding-left: 70%;
    padding-top: 28%;

}
.button {
    padding-left: 80%;

}
.button input {
    width: 100px;
    height: 50px;
    border-radius: 50%;
    background-color: #9A0000;
    font-style: italic;
    color: #ffffff;
}


