body {
    background-image: url("ronaldo_penalty.jpg");
    z-index: -1;
}
.input {
    display: block;
    font-style: italic;
    font-size: 200%;
    padding-left: 70%;
    padding-top: 28%;

}
.button {
    padding-left: 80%;
 
}


