<html xmlns="http://www.w3.org/1999/html">

<head>
    <title> Vteka </title>
</head>

<body>
<form action="http://localhost/CodeIgniter/index.php/Vteka/saveVideotape" method="post">

    <label for="title"> Title </label><br/>
    <input type="text" name="title"> <br/><br/>

    <label for="year"> Year  </label><br/>
    <input type="number" name="year"> <br/> <br/>

    <label for="country"> Country  </label><br/>
    <input type="text" name="country"> <br/> <br/>

    <label for="genre"> Genre  </label><br/>
    <input type="text" name="genre"> <br/> <br/>

    <label for="shortDescription"> Short description </label><br/>
    <textarea name="shortDescription" cols="40" rows="10"> </textarea> <br/> <br/>

    <label for="mainActors"> Main actors  </label><br/>
    <input type="text" name="mainActors"> <br/> <br/>

    <label for="quantity"> Quantity  </label><br/>
    <input type="number" name="quantity"> <br/> <br/>

    <input type="submit" value="Save">

</form>
</body>

</html>