<html>
<head>
    <title> </title>
</head>
<body>
{% if  amountFromBasket.amount  == FALSE %}
    You have no items added to your cart.

{% else %}
    Your purchase is for:  {{ amountFromBasket.amount }}
{% endif %}

</body>
</html>

