<html>
<head>

</head>
<body>
<form action="http://localhost/CodeIgniter/index.php/Children/searchChild" method="POST">

    <label for="personalNumber">Personal Number: </label><br/>
    <input type="number" name="personalNumber"> <br/><br/>

    <input type="submit" value="Search">
</form>
</body>
</html>