
<ul>
    <li> NAME: <?php echo $child->firstName; ?></li>
    <li><?php echo $child->lastName; ?> </li>
    <li><?php echo $child->personalNumber; ?> </li>
    <li><?php echo $child->years; ?> </li>
</ul>
