<html xmlns="http://www.w3.org/1999/html">

<head>
    <title> products </title>
</head>

<body>
<form action="http://localhost/CodeIgniter/index.php/Supermarket/{{ action }}{% if id %}/{{ id }}{% endif %}" method="post">

    <label for="productName"> Product name </label><br/>
    <input type="text" name="productName"> <br/><br/>

    <label for="price"> Price:  </label><br/>
    <input type="number" name="price"> <br/> <br/>

    <label for="barcode"> Barcode:  </label><br/>
    <input type="number" name="barcode"> <br/> <br/>

    <label for="quantity"> Quantity:  </label><br/>
    <input type="number" name="quantity"> <br/> <br/>

    <input type="submit" value="{{ button }}">

</form>
</body>

</html>