<html xmlns="http://www.w3.org/1999/html">

<head>
    <title> products </title>
</head>

<body>
<form action="http://localhost/CodeIgniter/index.php/Supermarket/searchProduct" method="post">

    <label for="productName"> Product name </label><br/>
    <input type="text" name="productName"> <br/><br/>

    <label for="barcode"> Barcode:  </label><br/>
    <input type="number" name="barcode"> <br/> <br/>

    <input type="submit" value="Search">

</form>
</body>

</html>